*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;

}
.heading{
    text-align: center;
    background-color: lightcyan;
}
.textcenter{
    border: 3px solid aqua;
    background-color: blanchedalmond;
}
td,th{
     padding: 10px;
    text-align: center; 
} 